.documentation {
	.tab-content, .tab-pane {
		padding-top: 0px !important;
	}
    h3, h4 {
        font-weight: 700 !important;
    }
    h3,
    h4,
    ul,
    ol,
    p,
    h5,
    li {
        margin-bottom: 20px !important;
    }
}
