.user-widget-2 {
	.media {
		padding-left: 0px !important;
		padding-right: 0px !important;
	}
	.media-middle {
		padding-left: 20px;
		padding-right: 20px;
	}
	h5 {
		font-size: 15px;
	}
	p {
		font-size: 13px;
	}
}
