.user-widget-7 {
	min-height: 200px;
	width: 100%;
	position: relative;
	&:before {
		position: absolute;
		content:"";
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 70px;
		width: 100%;
		background-image: url(https://unsplash.it/600/200?image=471&gravity=center);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.row {
		margin: 0 !important;
		padding: 0 !important;
	}
	.img-circle {
		border:3px solid #fff;
	}
}

