.user-widget-1 {
	min-height: 160px;
	width: 100%;
	position: relative;
	padding: 20px;
	&:before {
		position: absolute;
		content:"";
		display: block;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100%;
		min-height: 160px;
		width: 100%;
		background-image: url(https://unsplash.it/600/200?image=453&gravity=center);
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;
		opacity: 0.9;
	}
	.row {
		margin: 0 !important;
		padding: 0 !important;
	}
	.media-left, .media-body, .media-middle {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
	.img-circle {
		border:3px solid #fff;
	}
	h5 {
		padding: 0 20px;
		font-size: 18px;
		margin-bottom: 10px;
	}
	p {
		padding: 0 20px;
		font-size: 14px;
		margin-bottom: 5px;
		i {
			min-width: 20px;
		}
	}
}

