.pie-chart-widget-7 {
	background: transparent !important;
	min-height:50px;
	width: 100%;
	font-weight:300;
	padding: 10px 0;
}

@each $key, $value in $palettes {
	[data-palette="#{$key}"] {
		.pie-chart-widget-7 {
			color: map-get($value, 'text-color') !important;
		}
	}
}
