//override colors from _palettes.scss since we don't need all of them
$colors: (
	'default': $brand-default,
	'primary': $brand-primary,
	'info': $brand-info,
	'warning': $brand-warning,
	'success': $brand-success,
	'danger': $brand-danger,
	'white': $white,
	'black': $black,
);

.label {
	@each $name, $color in $colors {
		&.label-#{$name} {
			background-color: $color;
			color: #fff;
			padding: 5px 7px !important;
			&.label-xs {
				font-size:10px !important;
				line-height:10px !important;
			}
			&.label-lg {
				font-size:13px !important;
				line-height:16px !important;
			}
		}

		&.label-#{$name}-outline {
			background-color: transparent !important;
			color: $color;
			border:1px solid $color;
			&.label-xs {
				font-size:10px !important;
				line-height:10px !important;
			}
			&.label-lg {
				font-size:13px !important;
				line-height:16px !important;
			}
		}

		&.label-rounded {
			text-align: center;
			border-radius:50%;
			font-size: 0.6rem !important;
			height: 1.2rem !important;
			line-height: 1.2rem !important;
			width: 1.2rem !important;
			padding: 0 !important;
			&.label-xs {
				font-size:0.5rem !important;
				height:1rem !important;
				line-height:1rem !important;
				width: 1rem !important;
				padding: 0;
				font-weight: 700;
			}
			&.label-lg {
				font-size:0.8rem !important;
				height:1.6rem !important;
				line-height:1.6rem !important;
				width: 1.6rem !important;
				padding: 0;
				font-weight: 700;
			}
		}
	}
}
