/* Button used to open the chat form - fixed at the bottom of the page */
.dxchat-open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    z-index: 99999;
}

.dxchat .profile-img {
    width: 42px;
    border: 1px solid;
    margin-right: 6px;
}

.dxchat.sent .profile-img {
    float: left;
}

.dxchat {
    margin: 2px;
    clear: both;
    padding: 2px;
}

.dxchat-title {
    font-size: 16px;
    background: #009688;
    padding: 10px;
    color: white;
}

.dxchat .contents {

    background: #ccc;
    padding: 4px;
    width: 80%;
    border-radius: 5px;
    float: left;
    font-size: 10px;
    font-weight: bold;

}

.dxchat-logo {
    width: 75px;
    margin-right: 6px;
}

.dxchat-contents {
    min-height: 200px;
    max-height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
}

/* The popup chat - hidden by default */
.dxchat-chat-popup {
    width: 300px;
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 999999
}

/* Add styles to the form container */
.dxchat-form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

/* Full-width textarea */
.dxchat-form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 100px;
    max-width: 100% !important;
}

/* When the textarea gets focus, do something */
.dxchat-form-container textarea:focus {
    background-color: #ddd;
    outline: none;
}

/* Set a style for the submit/send button */
.dxchat-form-container .btn {
    background: #009688;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

/* Add a red background color to the cancel button */
.dxchat-form-container .cancel {
    background-color: black;
    color: white;
}

.dxchat-send-button{
    background: #009688;
}

/* Add some hover effects to buttons */
.dxchat-form-container .btn:hover, .dxchat-open-button:hover {
    opacity: 1;
}







.black_overlay {
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}
.dxchat_popup_content {
    display: none;
    position: absolute;
    top: 25%;
    left: 33%;
    width: 33%;
    height: 50%;
    /*padding: 16px;*/
    border: 2px solid #346f56;
    background-color: white;
    z-index: 1002;
    overflow: auto;
}


.dxchat_popup_content img {
    width: 45px !important;
}

.dxchat_popup_content a {
    color: white !important;
    padding: 6px !important;
}

.dxchat_popup_content h3 {
    background: #009688;
    color: white;
    text-align: center;
}

.dxchat_popup_content ul {
    list-style-type: none;
    width: 100% !important;
    padding-inline-start: 3px !important;
}

.dxchat_popup_content h3 {
    font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

.dxchat_popup_content li img {
    float: left;
    margin: 0 15px 0 0;
}

.dxchat_popup_content li p {
    font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

.dxchat_popup_content li {
    padding: 10px;
    overflow: auto;
}

.dxchat_popup_content li:hover {
    background: #eee;
    cursor: pointer;
}


