.horizontal-navigation-3 {
	margin: 0 0 40px 0;
	width: 100%;
	z-index: $zindex-navbar !important;
	position: relative;
	.navigation {
		li {
			display: block;
			float: left; 
			margin-right: 10px;
			position: relative;
			padding: 8px 0;
			transform: translateZ(0);
			backface-visibility: hidden;
			&:before {
				content: "";
				position: absolute;
				z-index: -1;
				left: 50%;
				right: 50%;
				bottom: 0;
				height: 4px;
				min-width: 0;
				display: inline-block;
				-webkit-transition-property: all;
				transition-property: all;
				-webkit-transition-duration: 0.3s;
				transition-duration: 0.3s;
				-webkit-transition-timing-function: ease-out;
				transition-timing-function: ease-out;
			}
			> a {
				font-size: 14px;
				position: relative;
				font-weight: normal;
			}
			> .horizontal-dropdown-menu {
				display: none;
			}
			&:hover {
				&:before {
					z-index: 2;
					left: 0;
					right: 0;
					min-width: 100%;			
				}
				> .horizontal-dropdown-menu {
					display: block;
					position: absolute;
					z-index: $zindex-navbar !important;
					top: 100%;
					left: 0;
					width: 420px;
					min-height: 40px;
					margin-top: 1px;
					padding: 10px;
					-webkit-column-count: 2;
					-moz-column-count: 2;
					column-count: 2;
					-webkit-column-gap: 5px;
					-moz-column-gap: 5px;
					column-gap: 5px;
					a {
						min-width: 200px;
						font-size: 14px;
						padding: 10px;
					}
					&.horizontal-dropdown-menu-lg {
						width: 630px !important;
						-webkit-column-count: 3;
						-moz-column-count: 3;
						column-count: 3;
					}
				}
			}
		}
	}
	[data-direction="rtl"] & {
		.navigation {
			padding-left: 0 !important;
			padding-right: 0 !important;
			margin-left: 0 !important;
			margin-right: 0 !important;
			li {
				float: right !important; 
				margin-right: 0;
				margin-left: 10px;
				&:hover {
					> .horizontal-dropdown-menu {
						left: 0 !important;
						right: 0;
					}
				}
			}
		}
	}
}

@each $key, $value in $palettes {
	[data-palette="#{$key}"] {
		&[data-layout="horizontal-navigation-3"] {
			.horizontal-navigation-3 {
				background-color: map-get($value, 'horizontal-navigation-3-background-color');
				color: map-get($value, 'horizontal-navigation-3-text-color');
				.navigation {
					li {
						&:before {
							background: map-get($value, 'highlight-color') !important;
						}
						.btn {
							&.btn-primary {
								background-color: transparent !important;
								color: map-get($value, 'horizontal-navigation-3-text-color') !important;
								border-color: transparent !important;
							}
						}
						&:hover {
							> .horizontal-dropdown-menu {
								margin-top: -1px;
								background-color: map-get($value, 'horizontal-navigation-3-dropdown-background-color') !important;
								color: map-get($value, 'horizontal-navigation-3-dropdown-text-color') !important;
								.btn {
									&.btn-primary {
										text-align: left !important;
										padding-left: 20px;
										background-color: map-get($value, 'horizontal-navigation-3-dropdown-background-color') !important;
										color: map-get($value, 'horizontal-navigation-3-dropdown-text-color') !important;
										border-color: transparent !important;
										&:hover {
											@include sideline-mixin(3px, map-get($value, 'left-sidebar-sideline-color'));
										}
									}
								}
							}
						}
					}
				}
			}
			&[data-direction="rtl"] {
				.horizontal-navigation-3 {
					.navigation {
						li {
							&:hover {
								> .horizontal-dropdown-menu {
									.btn {
										&.btn-primary {
											text-align: right !important;
											padding-left: 0;
											padding-right: 20px;
											&:hover {
												@include sideline-mixin-rtl(3px, map-get($value, 'left-sidebar-sideline-color'));
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
