//colors
$white: #ffffff;
$black: #000000;
$light: #f5f5f5;
$dark: #262932;
$brand-primary: #0275d8;
$brand-default: #5bc0de;
$brand-success: #5cb85c;
$brand-info: #00aced;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

//backgrounds

//blue
$bg1: darken($brand-primary, 5);
$bg2: darken($brand-primary, 10);
$bg3: darken($brand-primary, 15);

$bg4: #110a5c;
$bg5: #1b1091;
$bg6: #2516c7;

//purple
$bg7: #320a5c;
$bg8: #4f1091;
$bg9: #6c16c7;

//pink
$bg10: #911051;
$bg11: #c7166f;

//red
$bg12: #911710;
$bg13: #c71f16;

//green
$bg14: #0a5c15;
$bg15: #3e5c0a;

$bg16: #4d2c19;
$bg17: #794628;

$backgrounds: (
	'bg-1': $bg1,
	'bg-2': $bg2,
	'bg-3': $bg3,
	'bg-4': $bg4,
	'bg-5': $bg5,
	'bg-6': $bg6,
	'bg-7': $bg7,
	'bg-8': $bg8,
	'bg-9': $bg9,
	'bg-10': $bg10,
	'bg-11': $bg11,
	'bg-12': $bg12,
	'bg-13': $bg13,
	'bg-14': $bg14,
	'bg-15': $bg15,
	'bg-16': $bg16,
	'bg-17': $bg17,
);

//initial colors map
$palette-colors: (
	'white': $white,
	'black': $black,
	'light': $light,
	'dark': $dark,
);

//merge backgrounds into colors map
$palette-colors: map-merge($palette-colors, $backgrounds);

@function generate-coloured-palette($palette-colors, $key, $highlight-color, $amount) {
	@return (
		'text-color': map-get($palette-colors, 'white'),
		'background-color': map-get($palette-colors, $key),
		'highlight-color': $highlight-color,
		'border-color': lighten(map-get($palette-colors, $key), $amount * 2.5),
		'hover-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'odd-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'even-color': lighten(map-get($palette-colors, $key), $amount * 1),
		'left-sidebar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'left-sidebar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'left-sidebar-text-color': map-get($palette-colors, 'white'),
		'left-sidebar-title-color': map-get($palette-colors, 'white'),
		'left-sidebar-sideline-color': $highlight-color,
		'left-sidebar-hover-background-color': lighten(map-get($palette-colors, $key), $amount * 1),
		'left-sidebar-hover-text-color': map-get($palette-colors, 'white'),
		'navbar-background-color': map-get($palette-colors, $key),
		'navbar-text-color': map-get($palette-colors, 'white'),
		'navbar-border-color': map-get($palette-colors, $key),
		'code-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'code-text-color': $highlight-color,
		'floating-labels-border-color': map-get($palette-colors, 'white'),
		'vector-map-text-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'vector-map-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'vector-map-hover-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-1-navbar-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-1-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-1-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-1-border-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-dropdown-background-color': lighten(map-get($palette-colors, $key), $amount * 1),
		'horizontal-navigation-1-dropdown-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-2-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-navbar-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-2-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-background-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-2-border-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-dropdown-background-color': lighten(map-get($palette-colors, $key), $amount * 1),
		'horizontal-navigation-2-dropdown-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-3-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-3-navbar-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-3-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-3-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-3-text-color': map-get($palette-colors, 'white'),
		'horizontal-navigation-3-border-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-3-dropdown-background-color': lighten(map-get($palette-colors, $key), $amount * 1),
		'horizontal-navigation-3-dropdown-text-color': map-get($palette-colors, 'white'),
		'mega-menu-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'mega-menu-text-color': map-get($palette-colors, 'white'),
		'mega-menu-border-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'mega-menu-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'mega-menu-navbar-text-color': map-get($palette-colors, 'white'),
		'mega-menu-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'right-sidebar-text-color': map-get($palette-colors, 'white'),
		'right-sidebar-background-color': lighten(map-get($palette-colors, $key), $amount * 1.5),
		'right-sidebar-border-color': lighten(map-get($palette-colors, $key), $amount * 1.5),
		'fullsize-background-image-background-color': map-get($palette-colors, 'dark'),
		'fullsize-background-image-text-color': map-get($palette-colors, 'white')
	);
}

$coloured-palette-1: generate-coloured-palette($palette-colors, 'bg-1', $brand-warning, 5);
$coloured-palette-2: generate-coloured-palette($palette-colors, 'bg-2', $brand-warning, 5);
$coloured-palette-3: generate-coloured-palette($palette-colors, 'bg-3', $brand-warning, 5);
$coloured-palette-4: generate-coloured-palette($palette-colors, 'bg-4', $brand-warning, 5);
$coloured-palette-5: generate-coloured-palette($palette-colors, 'bg-5', $brand-warning, 5);
$coloured-palette-6: generate-coloured-palette($palette-colors, 'bg-6', $brand-warning, 5);
$coloured-palette-7: generate-coloured-palette($palette-colors, 'bg-7', $brand-warning, 5);
$coloured-palette-8: generate-coloured-palette($palette-colors, 'bg-8', $brand-warning, 5);
$coloured-palette-9: generate-coloured-palette($palette-colors, 'bg-9', $brand-warning, 5);
$coloured-palette-10: generate-coloured-palette($palette-colors, 'bg-10', $brand-warning, 5);
$coloured-palette-11: generate-coloured-palette($palette-colors, 'bg-11', $brand-warning, 5);
$coloured-palette-12: generate-coloured-palette($palette-colors, 'bg-12', $brand-warning, 5);
$coloured-palette-13: generate-coloured-palette($palette-colors, 'bg-13', $brand-warning, 5);
$coloured-palette-14: generate-coloured-palette($palette-colors, 'bg-14', $brand-warning, 5);
$coloured-palette-15: generate-coloured-palette($palette-colors, 'bg-15', $brand-warning, 5);
$coloured-palette-16: generate-coloured-palette($palette-colors, 'bg-16', $brand-warning, 5);
$coloured-palette-17: generate-coloured-palette($palette-colors, 'bg-17', $brand-warning, 5);
