//colors
$white: #ffffff;
$black: #000000;
$light: #f5f5f5;
$dark: #262932;
$brand-primary: #0275d8;
$brand-default: #5bc0de;
$brand-success: #5cb85c;
$brand-info: #00aced;
$brand-warning: #f0ad4e;
$brand-danger: #d9534f;

//backgrounds

$bg1: $white;
$bg2: $light;
$bg3: #e4e4e4;

$backgrounds: (
	'bg-1': $bg1,
	'bg-2': $bg2,
	'bg-3': $bg3,
);

//initial colors map
$palette-colors: (
	'white': $white,
	'black': $black,
	'light': $light,
	'dark': $dark,
);

//merge backgrounds into colors map
$palette-colors: map-merge($palette-colors, $backgrounds);

@function generate-light-palette($palette-colors, $key, $highlight-color, $amount) {
	@return (
		'text-color': map-get($palette-colors, 'dark'),
		'background-color': map-get($palette-colors, $key),
		'highlight-color': $brand-danger,
		'border-color': darken(map-get($palette-colors, $key), $amount * 1.5),
		'hover-color': darken(map-get($palette-colors, $key), $amount * 2),
		'odd-color': darken(map-get($palette-colors, $key), $amount * 1),
		'even-color': map-get($palette-colors, $key),
		'left-sidebar-background-color': map-get($palette-colors, $key),
		'left-sidebar-border-color': darken(map-get($palette-colors, $key), $amount * 3),
		'left-sidebar-text-color': map-get($palette-colors, 'dark'),
		'left-sidebar-title-color': map-get($palette-colors, 'dark'),
		'left-sidebar-sideline-color': $brand-danger,
		'left-sidebar-hover-background-color': lighten(map-get($palette-colors, $key), $amount * 1),
		'left-sidebar-hover-text-color': map-get($palette-colors, 'dark'),
		'navbar-background-color': map-get($palette-colors, $key),
		'navbar-text-color': map-get($palette-colors, 'dark'),
		'navbar-border-color': darken(map-get($palette-colors, $key), $amount * 3),
		'code-background-color': darken(map-get($palette-colors, $key), $amount * 3),
		'code-text-color': $brand-danger,
		'floating-labels-border-color': darken(map-get($palette-colors, $key), $amount * 3),
		'vector-map-text-color': darken(map-get($palette-colors, $key), $amount * 4),
		'vector-map-background-color': darken(map-get($palette-colors, $key), $amount * 2),
		'vector-map-hover-background-color': darken(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-1-navbar-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-1-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-1-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-1-border-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-dropdown-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-1-dropdown-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-2-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-navbar-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-2-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-background-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-2-border-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-dropdown-background-color': lighten(map-get($palette-colors, $key), $amount * 4),
		'horizontal-navigation-2-dropdown-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-3-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-3-navbar-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-3-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'horizontal-navigation-3-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-3-text-color': map-get($palette-colors, 'dark'),
		'horizontal-navigation-3-border-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-3-dropdown-background-color': lighten(map-get($palette-colors, $key), $amount * 3),
		'horizontal-navigation-3-dropdown-text-color': map-get($palette-colors, 'dark'),
		'mega-menu-background-color': darken(map-get($palette-colors, $key), $amount * 0.5),
		'mega-menu-text-color': map-get($palette-colors, 'dark'),
		'mega-menu-border-color': darken(map-get($palette-colors, $key), $amount * 2),
		'mega-menu-navbar-background-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'mega-menu-navbar-text-color': map-get($palette-colors, 'dark'),
		'mega-menu-navbar-border-color': lighten(map-get($palette-colors, $key), $amount * 2),
		'right-sidebar-text-color': map-get($palette-colors, 'dark'),
		'right-sidebar-background-color': map-get($palette-colors, $key),
		'right-sidebar-border-color': darken(map-get($palette-colors, $key), $amount * 3),
		'fullsize-background-image-background-color': map-get($palette-colors, 'dark'),
		'fullsize-background-image-text-color': $light
	);
}

$light-palette-1: generate-light-palette($palette-colors, 'bg-1', $brand-success, 5);
$light-palette-2: generate-light-palette($palette-colors, 'bg-2', $brand-success, 5);
$light-palette-3: generate-light-palette($palette-colors, 'bg-3', $brand-success, 5);
