.text-widget-8 {
	width: 100%;
	position: relative;
	padding:10px 0;
	.title {
		text-transform: uppercase;
		font-size: 11px;
		padding:0 10px;
		font-weight: 700;
	}
	.numbers {
		padding:0 10px;
		.amount {
			font-size:22px;
		}
		.percent {
			font-size:14px;		
		}
	}
}
