$size-sm:60px;
$size-md:80px;
$size-lg:100px;
[data-direction="ltr"] {
    .text-widget-16 {
        &.text-widget-sm {
            width: 100%;
            display: block;
            position: relative;
            height: $size-sm;
            overflow: hidden;
            .row, .col-xs-12 {
                padding: 0;
                margin: 0;
            }
            .left {
                width: $size-sm;
                height: $size-sm;
                position: absolute;
                top: 0;
                left: 0;
                i {
                    font-size: ($size-sm / 2) - 5;
                    line-height: $size-sm;
                }
            }
            .right {
                padding-left: $size-sm;
                height: $size-sm;
                .title {
                    padding: 11px 0 0 20px;
                    font-size: 11px;
                    text-transform: uppercase;
                }
                .numbers {
                    font-size: 15px;
                    padding: 0 20px;
                }
            }
        }
        &.text-widget-md {
            width: 100%;
            display: block;
            position: relative;
            height: $size-md;
            overflow: hidden;
            .row, .col-xs-12 {
                padding: 0;
                margin: 0;
            }
            .left {
                width: $size-md;
                height: $size-md;
                position: absolute;
                top: 0;
                left: 0;
                i {
                    font-size: $size-md / 2;
                    line-height: $size-md;
                }
            }
            .right {
                padding-left: $size-md;
                height: $size-md;
                .title {
                    padding: 17px 0 5px 20px;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                .numbers {
                    font-size: 16px;
                    padding: 0 20px;
                }
            }
        }
        &.text-widget-lg {
            width: 100%;
            display: block;
            position: relative;
            height: $size-lg;
            overflow: hidden;
            .row, .col-xs-12 {
                padding: 0;
                margin: 0;
            }
            .left {
                width: $size-lg;
                height: $size-lg;
                position: absolute;
                top: 0;
                left: 0;
                i {
                    font-size: $size-lg / 2;
                    line-height: $size-lg;
                }
            }
            .right {
                padding-left: $size-lg;
                height: $size-lg;
                .title {
                    padding: 20px 0 5px 20px;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                .numbers {
                    font-size: 22px;
                    padding: 0 20px;
                }
            }
        }
    }
}
[data-direction="rtl"] {
    .text-widget-16 {
        &.text-widget-sm {
            width: 100%;
            display: block;
            position: relative;
            height: $size-sm;
            overflow: hidden;
            .row, .col-xs-12 {
                padding: 0;
                margin: 0;
            }
            .left {
                width: $size-sm;
                height: $size-sm;
                position: absolute;
                top: 0;
                right: 0;
                i {
                    font-size: ($size-sm / 2) - 5;
                    line-height: $size-sm;
                }
            }
            .right {
                padding-right: $size-sm;
                height: $size-sm;
                .title {
                    padding: 11px 20px 0 0;
                    font-size: 11px;
                    text-transform: uppercase;
                }
                .numbers {
                    font-size: 15px;
                    padding: 0 20px;
                }
            }
        }
        &.text-widget-md {
            width: 100%;
            display: block;
            position: relative;
            height: $size-md;
            overflow: hidden;
            .row, .col-xs-12 {
                padding: 0;
                margin: 0;
            }
            .left {
                width: $size-md;
                height: $size-md;
                position: absolute;
                top: 0;
                right: 0;
                i {
                    font-size: $size-md / 2;
                    line-height: $size-md;
                }
            }
            .right {
                padding-right: $size-md;
                height: $size-md;
                .title {
                    padding: 17px 20px 5px 0;
                    font-size: 12px;
                    text-transform: uppercase;
                }
                .numbers {
                    font-size: 16px;
                    padding: 0 20px;
                }
            }
        }
        &.text-widget-lg {
            width: 100%;
            display: block;
            position: relative;
            height: $size-lg;
            overflow: hidden;
            .row, .col-xs-12 {
                padding: 0;
                margin: 0;
            }
            .left {
                width: $size-lg;
                height: $size-lg;
                position: absolute;
                top: 0;
                right: 0;
                i {
                    font-size: $size-lg / 2;
                    line-height: $size-lg;
                }
            }
            .right {
                padding-right: $size-lg;
                height: $size-lg;
                .title {
                    padding: 20px 20px 5px 0;
                    font-size: 14px;
                    text-transform: uppercase;
                }
                .numbers {
                    font-size: 22px;
                    padding: 0 20px;
                }
            }
        }
    }
}
